@import '~normalize.css/normalize.css';
@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'reset';

body {
	overflow-y: hidden;
	font-weight: 200;
	font-family: 'SF Pro Display', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 200;
}

.bold {
	font-weight: 700;
}

.dark-bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: rgba(#000, 0.7);
	cursor: pointer;

	&--show {
		display: block;
	}
}
