{
  "extends": ["eslint:recommended"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "globals": {
    "IS_SERVER": true,
    "IS_CLIENT": true
  },
  "parser": "babel-eslint",
  "rules": {
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "no-var": "error",
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ]
  }
}
