extends ~@/layout

block title
  title

block content

  - const data = require('./data.js')

  #index-pg

    +first-screen('index-pg')

    +services('index-pg')

    +promo('index-pg')

    +about('index-pg')

    +partnership('index-pg')

    +contacts('index-pg')
