#index-pg {
}

// Mixes

.index-pg__first-screen {
	margin-bottom: 70px;
}

.index-pg__services {
	margin-bottom: 70px;
}

.index-pg__promo {
	margin-bottom: 114px;
}

.index-pg__about {
	margin-bottom: 70px;
}
