.about {
  border-bottom: 1px solid #e3e3e3;
  @include container;

  img {
    width: auto !important;
  }
}

.about__option-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.about__title {
  margin-bottom: 20px;
  color: #000;
  font-weight: 500;
  font-size: 35px;
  line-height: 1;
  text-align: center;
}

.about__top-desc,
.about__bottom-desc {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #000;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
}

.about__bottom-desc {
  margin-top: 30px;
  margin-bottom: 70px;
}

.about__options {
  display: flex;
  margin-bottom: -40px;
  @include container;
}

.about__option {
  flex-basis: 33.333333%;
  min-height: 322px;
  margin-bottom: 40px;
  padding: 40px;
  background-color: #fafafa;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.about__option-icon {
  width: 100px;
  height: 100px;
}

.about__option-label {
  margin-bottom: 10px;
  color: #deb07a;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
}

.about__option-title {
  color: #000;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
}

.about__option-list {
  display: flex;
}

.about__option-item {
  display: flex;
  align-items: flex-start;
  color: #000;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.5;

  &:not(:last-child) {
    margin-right: 25px;
  }
}

.about__option-arrow-icon {
  margin-right: 10px;
  transform: translateY(50%);
}

.about__slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__slider-btn-left,
.about__slider-btn-right {
  &:hover {
    svg {
      path {
        fill: #deb07a;
      }
    }
  }
}

.about__slider-btn-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-200%, -50%);
}

.about__slider-btn-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(200%, -50%);
}

.about__slide-two {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.about__logo-container {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: center;
  height: 480px;
  margin-right: 20px;
  padding: 20px;
  background-color: #fafafa;

  .about__logo {
    width: 100% !important;
  }
}

.about__history {
  flex-basis: 50%;
  margin-left: 20px;
  color: #000;
  font-size: 17px;
  line-height: 1.5;
}

// Media queries

@include less-xl {
}

@include less-lg {
  .about__options {
    flex-direction: column;
  }

  .about__option {
    margin-right: 0 !important;
  }

  .about__slide-two {
    flex-direction: column;
  }

  .about__logo-container {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 100px 20px;
  }

  .about__history {
    margin-left: 0;
  }
}

@include less-md {
  .about {
    padding: 0 60px;
  }
  .about__slider {
  }

  .about__option {
    min-height: auto;
  }

  .about__option-header {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .about__option-title-block {
    order: 1;
    text-align: center;
  }

  .about__option-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .about__option-list {
    flex-direction: column;
  }

  .about__option-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    text-align: center;

    &:not(:last-child) {
      margin-right: 0;
    }
  }

  .about__option-arrow-icon {
    margin: 10px 0;
    margin-right: 0;
    transform: rotate(90deg);
  }

  .about__option-label {
    margin-bottom: 5px;
    font-size: 16px;
  }

  .about__option-title {
    font-size: 18px;
  }
}

@include less-sm {
}

// Mixes
