include ~@/components/about/about
include ~@/components/contacts/contacts
include ~@/components/first-screen/first-screen
include ~@/components/footer/footer
include ~@/components/header/header
include ~@/components/partnership/partnership
include ~@/components/promo/promo
include ~@/components/services/services
