include ~@/views/components/first-screen/first-screen
include ~@/views/components/services/services
include ~@/views/components/promo/promo
include ~@/views/components/about/about
include ~@/views/components/partnership/partnership
include ~@/views/components/contacts/contacts
